* {
    box-sizing: border-box;
    /*border: solid 2px white;*/
}

body {
    margin: auto;
    display: grid;
    grid-template-areas: 
    'header header'
    'hero hero'
    'leftsection sidebar'
    'footer footer';
    grid-template-columns: 75% 25%;
}

/* GRID */

header {
    
    grid-area: header;
    /*GRIDAREA*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 13px 0px 2px 0px;
    background: black; 
    background-position: top;
    margin-top: -10px;
    margin-left: 0px;
    color: white;
    position: fixed;
    width: 100%;
}

#headermobile {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black; 
    background-position: top;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    }

#hero {
    grid-area: hero;
    /*GRIDAREA*/
    /*background-color: blue;*/
    margin: 0% 1%;
}

#left-section {
    grid-area: leftsection;
    /*GRIDAREA*/
    /*background-color: red;*/
    margin-left: 1%;
}


#sidebar {
    grid-area: sidebar;
    /*GRIDAREA*/
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

footer {
    grid-area: footer;
    /*GRIDAREA*/
    background-color: grey
}

/*DA QUI IN AVANTI I SINGOLI ELEMENTI*/

/*HEADER*/ /*HEADER*/ /*HEADER*/ 

#logotext {
    display: flex;
    flex-direction: auto;
    margin-left: -10px;
}

#logotitle {
    color: #ffcf30;
    padding: 0px 10px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header li {
    float: right;
    padding: 0px 5px;
}

header ul {
    list-style-type: none;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*HERO*/ /*HERO*/ /*HERO*/

#hero > * {
    width: 95%;
    text-align: center;
    font-size: 300%;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#separator-main {
    background: black;
    height: 10px;
}

.slider-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* LEFT SECTION */ /* LEFT SECTION */ /* LEFT SECTION */

.main-left-section h2 {
    color: white;
    background-color: black;
    width: 95%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

/* RECENSIONI */

#recensioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ultimerecensioni {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
}

#ultimerecensioni figure {
    width: 95%;
    margin: auto;
    text-align: center;
}

.figureflex {
    width: 95%;
    margin: 10px 0px 10px;
    text-align: center;
}

#ultimerecensioni img {
    width: 100%;
}

/* ARTICOLI */

#articoli {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#articoli img {
    height: 280px;
}

#ultimiarticoli {
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
    gap: 10px;

    justify-content: center;

}

#articoli h3 {

    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

/*BUTTON*/

button {
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 7px;
    align-self: flex-start;
    margin: 28px;
    margin-right: auto; 
    background-color: #ffcf30;
    color: black;
}

/* SIDEBAR */ /* SIDEBAR */ /* SIDEBAR */

#sidebar {
    padding: 20px;
}

/*SOCIALICONS*/

.socialicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

/*INSTAGRAM*/

.instagram-media {
    margin-bottom: 2%;
}

/*RUBRICHE*/

#rubriche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rubriche img {
    width: 100%;
}

/*PROMO* + *WEB*/

#promo, #nonlivore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#figpromo, #nonlivore figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    align-items: center;
    text-align: center;
}

#figpromo img, #nonlivore img {
    width: 50%;
}

#figpromo figcaption, #nonlivore figcaption {
    margin: 6%;
}

/*WISHLIST*/

#dropdown-menu {
    text-align: center;
}

#dropdown-list {
    display: none;
}

/*FOOTER*/ /*FOOTER*/ /*FOOTER*/

/*TOPFOOTER*/

#flextopfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 20px;
}

#top-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top-footer h3 {
    margin-left: 6%;
    font-size: 0.9em;
}


#flextopfooter figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    align-items: center;
    text-align: center;
}

#flextopfooter img {
    width: 15%;
    border-radius: 50%;
}

#flextopfooter figcaption {
    margin: 6%;
}

#blackdiv {
    width: 100%;
    height: 5px;
    background-color: black;
}

/* BOTTOMFOOTER */

#bottom-footer {
    background-color: #ffcf30;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerflexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
}

.footerflexbox * {
    text-decoration: none;
}

.footerflexbox img {
    margin-top: 7%;
    margin-left: 1%;
    margin-right: 1%;
}

#footerflexbox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}


/* SMARTPHONE */

@media only screen and (max-width: 600px) {
    body {
    margin: auto;
    display: grid;
    grid-template-areas: 
    'header'
    'hero'
    'leftsection'
    'sidebar'
    'footer';
    grid-template-columns: 100%;
    }

    header {
    display: none; 
    }
    
    #headermobile {
    visibility: visible;
    }

    #articoli img {
        width: 100%;
        height: auto;
    }

    #ultimiarticoli {
        display: grid;
        grid-template-columns: auto;
        width: 95%;
        gap: 10px;
    
        justify-content: center;
    
    }

    #ultimerecensioni {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}
